html {
    background: url('../img/HomeBackground.png') no-repeat center center fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Lato', sans-serif;
}

.navbar {
    font-family: 'Lato', sans-serif;
    overflow: hidden;
    background-color: none;
}

.navbar a {
    float: left;
    font-size: 1.25vw;
    color: white;
    text-align: center;
    padding: 1.1vw 1.25vw;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;

}

.dropdown .dropbtn {
    font-size: 1.25vw;
    border: none;
    outline: none;
    color: white;
    padding: 1.1vw 1.25vw;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar .navbarbtn:hover,
.dropdown:hover .dropbtn {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: rgb(35, 213, 179);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 12.5vw;
    box-shadow: 0px 0.6vw 1.25vw 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 0.94vw 1.25vw;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

h1 {
    color: rgb(242,242,242);
    font-family: Helvetica, sans-serif;
    font-size: 2.1vw;
    font-weight: lighter;     
    text-align: left;
    margin-top: 3.9vw;
    margin-left: 3.9vw;
}
h3 {
    display: inline;
    color: rgb(242,242,242);
    font-family: Helvetica, sans-serif;
    font-weight: lighter; 
    font-size: 1.6vw;
    text-align: left;
    /*margin-top: 30px;*/
    margin-left: 3.9vw;
}

hr {
    height: 2px;
    background-color: rgb(35,213,179);
    width: 30%;
    margin-left: 3.9vw;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.gridcontainer{
    display: grid;
    margin-top: 0.78vw;
    margin-left: 3.9vw;
    grid-template-columns: 2.2fr 1fr;
    justify-content: center;
}


.textbox{
    color: rgb(242,242,242);
    font-family: Helvetica, sans-serif;
    font-weight: lighter; 
    font-size: 1.6vw;
    line-height: 1.9vw;
    grid-column-start: 1;
    grid-column-end: 1;
}

.textbox b{
    display: inline-block;
    margin-bottom: 0.8vw;
}

.poll{
    display: block;
    color: rgb(242,242,242);
    font-family: "Lato", sans-serif;
    font-weight: lighter; 
    font-size: 1.6vw;
    margin-left: 3.9vw;
    grid-column-start: 2;
    grid-column-end: 2; 
}

.poll span{
    display: inline-block;
    margin-bottom: 0.7vw;
}
.poll input[type="radio"] {
    position:fixed;
    opacity: 0;
    width: 0;
}

.poll label{
    display: inline-block;
    background-color: #37404A;
    margin-bottom: 0.7vw;
    margin-bottom: 0.7vw;
    padding: 0.78vw 1.56vw;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 1.25vw;
    border: 0.07vw solid rgb(242,242,242);
    border-radius: 0.3vw;
}

.poll input[type="radio"]:checked + label{
    background-color: rgb(82, 94, 109);
    border: 0.07vw dashed rgb(35,213,179);
}

.poll input[type="radio"]:focus + label {
    border: 0.07vw dashed rgb(35,213,179);
}

.poll label:hover {
    background-color: rgb(82, 94, 109);
  }

.submit{ 
    background-color: rgb(0,0,0,0);
    color:rgb(35,213,179);
    border: 0.07vw solid rgb(35,213,179);
    cursor:pointer;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size:1.1vw;
    letter-spacing: 0.5vw;
    font-weight: bold;
    line-height:3.5vw;
    text-align:center;
    height:3.5vw;
    padding-left: 1vw;
    padding-right: 0.7vw;
    border-radius:1.72vw;
    margin-top:0.7vw;
  }

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

audio{
    display: inline;
    /*margin-top: 10px;*/
}

table, th, td {
    border: 0.078px solid rgb(242,242,242);
  }

  th{
      padding: 1.17vw;
  }

  figcaption{
      font-size: 1.25vw;
      text-align: center;
  }

  a{
      text-emphasis-color: none;
      color: rgb(35,213,179);
  }

  caption{
    font-size: 1.25vw;
    text-align: center; 
  }