html {
    background: url('../img/HomeBackground.png') no-repeat center center fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Lato', sans-serif;
}

.navbar {
    font-family: 'Lato', sans-serif;
    overflow: hidden;
    background-color: none;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar .navbarbtn:hover,
.dropdown:hover .dropbtn {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: rgb(35, 213, 179);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

h1 {
    color: rgb(242,242,242);
    font-family: Helvetica, sans-serif;
    font-size: 2.1vw;
    font-weight: lighter;     
    text-align: left;
    margin-top: 50px;
    margin-left: 50px;
}
h3 {
    display: inline;
    color: rgb(242,242,242);
    font-family: Helvetica, sans-serif;
    font-weight: lighter; 
    font-size: 1.6vw;
    text-align: left;
    /*margin-top: 30px;*/
    margin-left: 50px;
}

hr {
    height: 2px;
    background-color: rgb(35,213,179);
    width: 30%;
    margin-left: 50px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.gridcontainer{
    display: grid;
    margin-top: 10px;
    margin-left: 50px;
    grid-template-columns: 2.2fr 1fr;
    justify-content: center;
}

.textbox{
    color: rgb(242,242,242);
    font-family: Helvetica, sans-serif;
    font-weight: lighter; 
    font-size: 1.6vw;
    grid-column-start: 1;
    grid-column-end: 1;
}

#poll{
    color: rgb(242,242,242);
    font-family: Helvetica, sans-serif;
    font-weight: lighter; 
    font-size: 1.6vw;
    margin-left: 70px;
    grid-column-start: 2;
    grid-column-end: 2; 
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

audio{
    display: inline;
    margin-left: 50px;
    /*margin-top: 10px;*/
}